<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
	</head>
	<body>
		<h1>Sample App</h1>
		<p>
			This is the home page for 
			<a href="#">Kien's Sample_App</a>
			sample application.
		</p>
	</body>
</html>