<footer class="footer">
    <small>
        the <a href="#"> Ruby on Rails Tutorial </a>
        by <a href="#"> Le Trung Kien </a>
    </small>
    <nav>
        <ul>
            <li> <%= link_to "About", "#"%></li>
            <li><%= link_to "Contact", "#"%></li>
            <li><%= link_to "Home", "#"%></li>
        </ul>
    </nav>
</footer>